/*
CSS file created with:Instant Blueprint - Create a web project framework in seconds.
http://instantblueprint.com

Project: ToDoc
File: css/style.css
Last edited: January 3, 2012, 9:58 am
*/


/*  Main  */

html, body {
height: 100%;
}

body {
 	
	
	
 color:#000;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
 
}

#container {
 margin:5px auto;	
 min-height: 100%;	
 width:95%;
 
}

.todo {
 min-height: 100%;	
}

.todo .top {
	/*background:url('../images/noise.png') top left repeat;*/
	/* IE10 */ 
	background-image: -ms-linear-gradient(top, #64717E 0%, #36434F 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #64717E 0%, #36434F 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #64717E 0%, #36434F 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #64717E), color-stop(1, #36434F));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #64717E 0%, #36434F 100%);

	/* Proposed W3C Markup */ 
	background-image: linear-gradient(top, #64717E 0%, #36434F 100%);
	
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	
	height:40px;
	
	
	
}

.todo .top h1 {
	color:#fff;
	line-height:40px;
	text-align:center;
	vertical-align:middle;
}

.todo .top .border {
	width:100%;
	height:2px;
	border:dashed 1px #627a92;
	border-left-width: 0;
	border-right-width: 0;
	border-top-width: 0;
	position: relative;
	top: -7px;
}


.todo .rippedPaper {
	height:23px;
	position:relative;
	top:-7px;
	z-index:-20;
	background:#fff url('../images/rippedPaper.png') top left repeat-x;
	border:solid  rgba(0, 0, 0, .3);
	border-width:0 1px;
}

.todo .content {
	position:relative;
	top:-7px;
	z-index:5;
 border:solid  rgba(0, 0, 0, .3);
 border-width:0 1px;
 padding:5px 10px;	
	background-color: #fff; 
	
	/* IE10 */ 
	background-image: -ms-linear-gradient(#eee .05em, transparent .05em);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(#eee .05em, transparent .05em);

	/* Opera */ 
	background-image: -o-linear-gradient(#eee .05em, transparent .05em);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-linear-gradient(#eee .05em, transparent .05em);

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(#eee .05em, transparent .05em);

	/* Proposed W3C Markup */ 
	background-image: linear-gradient(#eee .05em, transparent .05em);
	background-size: 100% 3em;
	height:150px;
	line-height:3em;
	vertical-align:middle;
	/*box-shadow: inset 0 15px 15px -15px #000;*/
}

.todo .bottom {
	position: relative;
	top: -11px;
	height:15px;
	background-color:#fff;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	-moz-box-shadow:       0px 1px 0 rgba(0, 0, 0, .3),
	                       0px 3px 0 #fff,
	                       0px 4px 0 rgba(0, 0, 0, .2),
	                       0px 6px 0 #fff,
	                       0px 7px 0 rgba(0, 0, 0, .1),
	                       0px 9px 0 #fff,
	                       0px 10px 0 rgba(0, 0, 0, .1);
	  -webkit-box-shadow:  0px 1px 0 rgba(0, 0, 0, .3),
	                       0px 3px 0 #fff,
	                       0px 4px 0 rgba(0, 0, 0, .2),
	                       0px 6px 0 #fff,
	                       0px 7px 0 rgba(0, 0, 0, .1),
	                       0px 9px 0 #fff,
	                       0px 10px 0 rgba(0, 0, 0, .1);
	  box-shadow:	       0px 1px 0 rgba(0, 0, 0, .3),
						   0px 3px 0 #fff,
						   0px 4px 0 rgba(0, 0, 0, .2),
						   0px 6px 0 #fff,
						   0px 7px 0 rgba(0, 0, 0, .1),
						   0px 9px 0 #fff,
						   0px 10px 0 rgba(0, 0, 0, .1);
						
						
	}
